.header{
    height: 125vh;
    background-image:linear-gradient(to bottom left,rgba(0,0,0,0.1),rgba(0,0,0,0.7)), url(/img/2-min.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}