.header{
    height: 125vh;
    background-image:linear-gradient(to bottom left,rgba(0,0,0,0.1),rgba(0,0,0,0.7)), url(/img/2-min.jpg);
    background-position: center;
    background-size: cover;
    position: relative;


    @include query(tabp){
        height: 110vh;
    }

    @include query(cps){
        height: 100vh;
        margin-bottom: 2rem;
    }
}