.deviation{
    width: 25rem;
    height: 13rem;
    background-color: limegreen;
    background-image: url(/img/19-min.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;

    @include query(tabl){
        width:22rem;
    }

    @include query(tabp){
        width:20rem;
    }

    @media only screen and (max-width:53.75em){
        width: 30rem;
        height: 20rem;
    }

    @include query(cp){
        width: 100%;
    }


    &:hover .img-stats{
        opacity: 1;
    }

    &--1{
        background-image: url(/img/20-min.jpg);
    }
    &--2{
        background-image: url(/img/17-min.jpg);

        @media only screen and (max-width:53.75em){
           display: none;
        }
    }
    &--3{
        background-image: url(/img/1-min.jpg);
        background-position: center;

        @include query(cps){
            display: none;
        }
    }
    &--4{
        background-image: url(/img/18-min.jpg);
    }
    &--5{
        background-image: url(/img/6-min.jpg);
    }
    &--6{
        background-image: url(/img/22-min.jpg);
        @include query(cps){
            display: none;
        }
    }
    &--7{
        background-image: url(/img/2-min.jpg);
    }
    &--8{
        background-image: url(/img/27-min.jpg);
    }
    &--9{
        background-image: url(/img/24-min.jpg);

        @include query(cps){
            display: none;
        }
    }
    &--10{
        background-image: url(/img/26-min.jpg);

        @include query(cps){
            display: none;
        }
    }
    &--11{
        background-image: url(/img/23-min.jpg);
    }
    &--12{
        background-image: url(/img/9-min.jpg);
    }
    &--13{
        background-image: url(/img/day.jpg);
    }
    &--14{
        background-image: url(/img/night.jpg);
    }

    &--small{
        width: 12rem;
        height: 13rem;
    }

    &--big{
        width: 100%;
        height: 50rem;

        @include query(cp){
            height: 70vh;
        }
    }

}

.grid-c-2-4{
    grid-column: 2/4;

    @include query(cps){
        grid-column: auto;
    }

}
.grid-c-1-3{
    grid-column: 1/3;
    @include query(cps){
        grid-column: auto;
    }

}
.grid-c-3-4{
    grid-column: 3/4;
    @include query(cps){
        grid-column: auto;
    }
}
.grid-c-1-4{
    grid-column: 1/4;
    @include query(cps){
        grid-column: auto;
    }
}

.fit{
    width: 100%;
    height:100%;
}
