.profile{
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    height: 20vh;
    margin-bottom: 0.1rem;
    cursor: pointer;

    display: flex;
    align-items: center;

    &__img{
        width: 8rem;
        height: 8rem;
        margin-right: 2rem;
        box-shadow: 0 0.3rem 1rem rgba(white,0.2);
    }

    &__name{
        display: inline-block;
        font-family: inherit;
        font-size: 2.5rem;
        font-weight: bold;
        position: relative;

        &--small{
            font-size: 1.5rem;
            margin-right: auto;
        }
    }

    &__text{
       & > *:not(:last-child){
           margin-bottom: 0.7rem;
       }
    }

    &__icon{
        fill:white;
        background-color: $color-primary-dark;
        border-radius: 50%;
        box-sizing: content-box;
        padding: 0.2rem;
        width: 1rem;
        height: 1rem;

        position: absolute;
        top: 50%;
        right: -35%;
        transform: translateY(-50%);   

        &--small{
            top:40%;
            right: -45%;
            width: 0.7rem;
            height: 0.7rem;
        }
    }

    &__desc{
        font-size: 1.1rem;
        letter-spacing: 0.3px;
    }

    &__stats{
        font-size: 1.2rem;
    }

    &__stat{
        display: inline-block;
        line-height: 2;

        &:not(:first-child)::before{
            content: "";
            width: 1px;
            height: 1.2rem;
            background-color: white;
            display: inline-block;
            margin: 0 0.5rem;

            @include query(cps){
                    display: none;
            }
        }

        @include query(cps){
            &:nth-child(even){
                display: none;
            }
        }

        &:hover{
            color: $color-primary;
        }
    }
}