.watchers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5rem;

    @include query(cps){
        grid-template-columns: repeat(2,1fr);
    }
}

.watcher{
    background-color: $color-black-light;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    transition: all 300ms;

    &:hover{
        background-color: gray;
    }

    &__icon{
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 1rem;
    }

    &__name{
        font-size: 1.2rem;
    }
}